#main-news {
  width: 100%;
  min-height: 500px;
  height: auto;
  background-color: #edeef7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-news {
  width: 100%;
  min-height: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.432);
  font-size: 1.5rem;
}

.news-div {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news-div .article {
  width: 350px;
  min-height: 400px;
  height: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20% 10%;
  box-shadow: -2px 5px 24px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 5px 24px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 5px 24px -11px rgba(0, 0, 0, 0.75);
}
.news-div .article .image-container {
  overflow: hidden;
  cursor: pointer;
}
.news-div .article .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
}
.news-div .article .image-container:hover img {
  transform: scale(1.1);
}
.news-div .article .title-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.news-div .article .title-container p {
  font-size: 1.1rem;
  margin: 0;
  padding: 10px;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.4s ease-out;
  cursor: pointer;
  overflow: scroll;
  overflow-x: hidden;
}
.news-div .article .title-container p::-webkit-scrollbar {
  width: 4px;
}
.news-div .article .title-container p::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.news-div .article .title-container p::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #ffc400;
}
.news-div .article .title-container p:hover {
  color: #002fff;
}
.news-div .article .title-container p a {
  text-decoration: none;
}
.news-div .article .publish-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.news-div .article .publish-container p {
  margin: auto auto;
  text-align: center;
}

.single-page {
  width: 100%;
  min-height: 1200px;
  height: auto;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.single-page .single-page-description-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
.single-page .single-page-description-container p {
  text-transform: capitalize;
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
  margin: 0;
  font-size: 1.5rem;
  border-left: dotted #ffb700 7px;
}
.single-page .single-page-image-container {
  width: 100%;
  height: 600px;
}
.single-page .single-page-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-page .single-page-title-container {
  margin-bottom: 30px;
}
.single-page .single-page-title-container h1 {
  text-align: left;
  text-transform: capitalize;
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
}
.single-page .single-page-title-container h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  border-right: dotted 8px #ffb700;
}
.single-page .article-details-container {
  width: 100%;
  margin-bottom: 40px;
}
.single-page .article-details-container .details-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-page .article-details-container .details-list li {
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  transition: all 0.3s ease-out;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
.single-page .article-details-container .details-list li:hover {
  background-color: #ffb700;
  color: black;
}
.single-page .news-content {
  width: 100%;
}
.single-page .news-content p {
  text-align: left;
  text-decoration: capitalize;
  font-size: 1.3rem;
}
.single-page .full-content a {
  text-decoration: none;
  font-size: 1.5rem;
}
.single-page h2[back=backtoHome] {
  margin-top: 70px;
  border-top: dotted 7px #ffb70080;
  padding-top: 15px;
}
.single-page h2[back=backtoHome] a {
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: #ffb700;
}

@media only screen and (max-width: 955px) {
  .details-list {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .details-list li {
    margin-top: 10px;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .single-page-image-container {
    height: 450px !important;
  }
}
@media only screen and (max-width: 717px) {
  .article {
    width: 85% !important;
    min-height: 500px !important;
  }

  .single-page-description-container p {
    font-size: 1.5rem !important;
  }

  .single-page-title-container h1 {
    font-size: 1.5rem;
  }

  .single-page-image-container {
    height: 350px !important;
  }
}
@media only screen and (max-width: 500px) {
  .details-list li {
    font-size: 1rem !important;
  }

  .single-page-image-container {
    height: 250px !important;
  }
}
@media only screen and (max-width: 460px) {
  .not-news {
    font-size: 1rem;
  }

  .details-list li {
    font-size: 0.8rem !important;
  }

  .single-page-description-container p {
    font-size: 1rem !important;
  }
}
@media only screen and (max-width: 356px) {
  .not-news {
    font-size: 0.8rem;
  }
}