*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif !important;
}

#root{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #edeef7;
}
#root::-webkit-scrollbar{
    width: 9px;
    background-color: #b1f3ff;
}
#root::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
#root::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: #ff005c;
}